/**
 * @file
 * Stylesheet for the Contextual module.
 */


/**
 * Contextual links.
 */
.region {
  border:2px solid aqua;
  float: left;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.floatLeft {
	position: relative;
	float: left;
}
.floatRight {
	position: relative;
	float: right;
}
.floatClear {
	position: relative;
	clear: both;;
}

.logo {
	position: relative;
	float: left;
	width: 5%;
	height: 3%;	
}

.imgWidget5_3 {
	width: 90%;
	height: 50%;
}

#r_0_0 {
	background-color:beige;
	width: 50%;
	margin-left: 20%;
}

#b_0_0_0_0 {
	width: 90%;
	margin: 4%;
}

#r_1_0{
	background-color:silver;
	position: relative;	
	width: 30%;
}
#r_1_1{
	background-color:silver;
	position: relative;	
	width: 60%;
}


#b_1_0_0_0 {
	background-color:aqua;
	width: 90%;
	margin: 4%;
}

#b_1_1_0_0 {
	display: inline;
	background-color:pink;
	width: 30%;
}
#b_1_1_0_1 {
	display: inline;
	background-color:aqua;
	width: 30%;
}


#r_2_0{
	background-color:silver;
	position: relative;	
	left: 2%;
	width: 90%;
}


p{
	
}

footer {
	position: relative;
	clear: both;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20%;
	margin-bottom: 3%;	
}

.toCaller{
		border: 1px solid yellow;
		background-color:pink;
		color: red;
		margin:1em;
}

.title{
		margin:1em;
		font-weight: bold;
		font-size: 2em;
		background-color:yellow;
		color: blue;
}


.subtitle{
		margin:0.5em;
		font-weight: bold;
		font-size: 1.5em;
		background-color:yellow;
		color: blue;
}


form{
	width: 90%;
}

.loginForm{
	margin-left: 10%;
}

.formSubmit {
	background-color:yellow;
	color: red;
}

.row{
	display:block;
}
.cell  label{
	position: relative;
	width:13%;
	margin-left: 5%;
	margin-right: 1%;
	width:15%;	
}
.cell input {
	background-color: aqua;

}
.cell input[name=form_title] {
	width:70%;
}
.cell input[name=form_attributes] {
	width:60%;
}
.cell input[type=radio]{
	width:2%;
	margin-right: 3%;
}
textarea[type=small]  {
	width:80%;
	height:10%;
}

